.servers-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #11171f;
  height: 64px;

  .category {
    position: relative;
    cursor: pointer;

    .title {
      color: #5e6c7e;
    }

    .select {
      display: flex;
      margin-left: 15px;
      .title {
        color: #c0dcff;
      }
      .arrow {
        margin-left: 0.5rem;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 220px;
      font-size: 14px;
      background-color: #11171f;
      box-shadow: 0 4px 45px rgb(0 0 0 / 25%);
      padding: 9px 0;
      z-index: 1;
      top: 20px;

      .item {
        display: flex;
        padding: 0 15px;
        align-items: center;
        height: 33px;
        position: relative;

        &:hover {
          .title {
            color: white;
            transition: 0.2s linear;
          }
        }

        .icon {
          width: 15px;
          height: 15px;
          margin-right: 10px;
        }

        .title {
          color: #5e6c7e;
          text-decoration: none;
          transition: 0.2s linear;
        }

        .tick {
          display: none;
          position: absolute;
          background-color: #212c3a;

          align-items: center;
          border-radius: 50%;
          right: 10px;
          width: 18px;
          top: 50%;
          transform: translateY(-50%);
          height: 18px;
          right: 15px;
        }

        &-checked {
          background: #161d26;

          .title {
            color: #6080ff;
          }

          .tick {
            display: block;
          }
        }
      }
    }

    &:hover .dropdown-content {
      display: block;
    }
  }

  .prime-switcher {
    border-radius: 7px;
    display: flex;

    .outer-prime {
      width: 44px;
      height: 24px;
      background-color: #2c3f4d;
      border-radius: 4px 0px 0px 4px;
      text-align: center;
      opacity: 0.4;

      .prime {
        width: 16px;
      }
    }

    .outer-non-prime {
      width: 44px;
      height: 24px;
      margin-left: 2px;
      background-color: #392128;
      border-radius: 0px 4px 4px 0px;
      text-align: center;
      opacity: 0.4;

      .non-prime {
        width: 16px;
      }
    }

    .checked {
      opacity: 1;
    }
  }

  .visibility {
    display: flex;

    .title {
      margin-right: 15px;
      color: #5e6c7e;
    }
    .switcher {
      border-radius: 7px;
      display: flex;

      .outer-visibility {
        width: 44px;
        height: 24px;
        background-color: #2c3f4d;
        border-radius: 4px 0px 0px 4px;
        text-align: center;
        opacity: 0.4;

        .visibility {
          width: 16px;
        }
      }

      .outer-non-visibility {
        width: 44px;
        height: 24px;
        margin-left: 2px;
        background-color: #2c3f4d;
        border-radius: 0px 4px 4px 0px;
        text-align: center;
        opacity: 0.4;

        .non-visibility {
          width: 16px;
        }
      }

      .checked {
        opacity: 1;
        background-color: #6980ff;
      }
    }
  }

  .search {
    width: 194px;
    height: 28px;
    color: #5e6c7e;
    padding-left: 28px;
    margin-right: 10px;
    padding-right: 15px;
    border: none;
    border-radius: 6px;
    background: #141c26 url("https://cloud.cybershoke.net/img/icons/support/search.svg") no-repeat 10px;
    background-size: 10px 10px;

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      color: #5e6c7e;
    }

    &:focus {
      outline: 2px solid #6980ff;
    }
  }
}