

<div  class="category d-flex">
  <div class="title">
    Category:
  </div>
  <div class="select">
    <div class="title">
      All
    </div>
    <div class="arrow">
      <%= load_svg('arrow.svg') %>
    </div>
  </div>
</div>