<footer class="footer">
  <div class="ads">
    <div class="hell"><%= load_svg("hell") %></div>
    <div class="win"><%= load_svg("win") %></div>
    <%= image_tag "https://cloud.cybershoke.net/img/icons/dark_project.png", class: "dark-project"%>
  </div>
  <div class="info">
    <div class="item">
      <div class="count">1000</div>
      <div class="title">playes</div>
    </div>
    <div class="item">
      <div class="count">20</div>
      <div class="title">playes per day</div>
    </div>
    <div class="item">
      <div class="count">5</div>
      <div class="title">new palyes</div>
    </div>
    <div class="item">
      <div class="count">31</div>
      <div class="title">servers</div>
    </div>
    <div class="item">
      <div class="count">4 </div>
      <div class="title">playes</div>
    </div>
  </div>
  <div class="navigation">
    <div>PLAY</div>
    <div>PREMIUM</div>
    <div>STORE</div>
    <div>HELP</div>
    <div>CONTACTS</div>
    <div>TERMS AND CONDITIONS</div>
  </div>
</footer>
