<div class="mt-5">
  <%= link_to 'New',  new_admin_learn_path %>
  <table class="mt-5">
    <% @learns.each do |learn| %>
        <tr>
          <td>
            <%= link_to learn.title, admin_learn_path(learn.id) %>
          </td>
        </tr>
    <% end%>
  </table>
</div>
