<div class="error-page">
  <div class="error">
    <h1 class="code">404</h1>
    <h2 class="title">Page Not Found </h2>
    <div class="text">
      You are trying to access a page that has been deleted or didn't even exist
    </div>
    <%= button_to 'Go back to the main page', root_url, method: :get, class: "button" %>
  </div>
</div>
