.vertical-card {
  width: 13rem;
  height: 18.5rem;
  border-radius: 0.75rem;
  text-align: center;
  background-color: #262e44;
  transition: 0.3s linear;
}



.vertical-card:hover {
  background-color: #3f4b6b;
}

